{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Hakkımda</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}
<header class="intro" data-background="{% static '13.png' %}">
      <div class="overlay"></div>
      <div class="intro-body">
        <h1>Hakkımda</h1>
        <h4>Ben Kimim?</h4><a class="page-scroll" href="#about"><span class="mouse"><span><i class="icon ion-ios-arrow-down"></i></span></span></a>
      </div>
    </header>
<section class="section-small section-offcet bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h2>Zeyneb Uras</h2>
            <p>Kendim için bir şeyler yapmalıyım diyerek 2008 senesinde ilk yoga hocalığı eğitimine katıldım. Çok sevdiğim yoga pratiğine zaman ayırarak bu basit niyetimi karşılayacağımı ümit ettim. Gel gör ki, hayat gerçekten duydu kalbimin sesini ve tahmininden çok daha nitelikli kucakladı beni. Stüdyolar, dersler, eğitimler, çok çeşitli paylaşımlar yolculuğumun parçası oldu. Farkındalık çalışmalarıyla gitgide uyandım, güçlendim, sevdim. Anneliğim her daim temel oluşturdu. Birçok öğrencim, danışanım oldu, olmakta. Kendi gerçeğimden bir kula dahi dokunabilirsem, evrene hizmet edebilirsem, ne mutlu bana diyorum hep. Çok şükür!</p>
          </div>
          <div class="col-lg-7 carousel-item wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s">
            <div class="carousel slide carousel-fade" id="carousel-light2">
              <ol class="carousel-indicators">
                <li class="active" data-target="#carousel-light2" data-slide-to="0"></li>
                <li data-target="#carousel-light2" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active"><img class="center-block" src="{% static 'img/misc/11.png' %}" alt=""></div>
                <div class="item"><img class="center-block" src="{% static 'img/misc/10.png' %}" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}


{% block jss %}
{% endblock %}