{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Marmaris Toptan</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}
<div class="ltn__slider-area ltn__slider-3  section-bg-1">
        <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">

            {% for slider in sliders %}
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 ltn__slide-item-3-normal">
                <div class="ltn__slide-item-inner  text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title animated"><img src="{% static 'img/icons/icon-img/1.png' %}" alt="#"> 100% genuine Products</h6>
                                        <h1 class="slide-title animated ">{{slider.h1}} <br>  Organic Food</h1>
                                        <div class="slide-brief animated">
                                            <p>{{slider.h2}}.</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <a href="{{slider.product}}" class="theme-btn-1 btn btn-effect-1 text-uppercase">Hemen İncele</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item-img slide-img-left" style="margin-top: -100px;">
                                    <img src="{% if slider.image %}{{ slider.image.url }}{% else %}{% endif %}" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
 <div class="ltn__feature-area mt-100 mt--65">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__feature-item-box-wrap ltn__feature-item-box-wrap-2 ltn__border section-bg-6">
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="{% static 'img/icons/svg/8-trolley.svg' %}" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Ücretsiz Kargo</h4>
                                <p>350 tl Üzeri Kargo Bedeva</p>
                            </div>
                        </div>
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="{% static 'img/icons/svg/9-money.svg' %}" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Doğru Fiyat</h4>
                                <p>İndirimli Fiyatlar</p>
                            </div>
                        </div>
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="{% static 'img/icons/svg/10-credit-card.svg' %}" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Güvenli Alışveriş</h4>
                                <p>İyzico Güvenli Ödeme</p>
                            </div>
                        </div>
                        <div class="ltn__feature-item ltn__feature-item-8">
                            <div class="ltn__feature-icon">
                                <img src="{% static 'img/icons/svg/11-gift-card.svg' %}" alt="#">
                            </div>
                            <div class="ltn__feature-info">
                                <h4>Kaliteli Dağıtım</h4>
                                <p>Güvenli Teslimat</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="ltn__product-area ltn__product-gutter pt-115 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title">Favori Ürünlerimiz</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__tab-product-slider-one-active--- slick-arrow-1">
                {% for product in all %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="ltn__product-item ltn__product-item-3 text-left">
                        <div >
                            <a href="{{product.get_absolute_url}}"><img src="{{product.image}}" alt="#"></a>
                            <div class="product-badge">
                                <ul>
                                    <li class="sale-badge">New</li>
                                </ul>
                            </div>

                        </div>
                        <div class="product-info">
                            <div class="product-ratting">
                                <ul>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>


                                </ul>
                            </div>
                            <h2 class="product-title"><a href="{{product.get_absolute_url}}">{{product.name}}</a></h2>
                            <div class="product-price">
                                <span> ₺  {{product.price}}</span>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
 <div class="ltn__counterup-area bg-image bg-overlay-theme-black-80 pt-115 pb-70" data-bg="{% static 'banner11.jpeg' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item-3 text-color-white text-center">
                        <div class="counter-icon"> <img src="{% static 'img/icons/icon-img/2.png' %}" alt="#"> </div>
                        <h1><span class="counter">733</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Aktif Müşteri</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item-3 text-color-white text-center">
                        <div class="counter-icon"> <img src="{% static 'img/icons/icon-img/3.png' %}" alt="#"> </div>
                        <h1><span class="counter">33</span><span class="counterUp-letter">K</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Kargolama</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item-3 text-color-white text-center">
                        <div class="counter-icon"> <img src="{% static 'img/icons/icon-img/4.png' %}" alt="#"> </div>
                        <h1><span class="counter">100</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Özgün Ürün</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item-3 text-color-white text-center">
                        <div class="counter-icon"> <img src="{% static 'img/icons/icon-img/5.png' %}" alt="#"> </div>
                        <h1><span class="counter">21357</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Satış</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="ltn__about-us-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left">
                        <img src="{% static 'about.jpg' %}" alt="About Us Image">
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2">

                            <h1 class="section-title">Gerçek Organic <br class="d-none d-md-block">  Marmaris Toptan</h1>
                            <p>"igdinvesting" Yatırım firmasının katkılarıyla | Yörenin En Güzel En Nadide ürünlerini Kapınıza Taşıyoruz.Bölgedeki üreticilerimizin sizler için özendikleri lezzetlere artık daha yakınsınız.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="ltn__call-to-action-area ltn__call-to-action-4 bg-image pt-115 pb-120" data-bg="{% static 'olive.jpeg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-4 text-center">
                        <div class="section-title-area ltn__section-title-2">
                            <h1 class="section-title white-color">0 530 447 88 48</h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="tel:+905304478848" class="theme-btn-1 btn btn-effect-1">Hemen Çevir</a>
                            <a href="iletisim/" class="btn btn-transparent btn-effect-4 white-color">İletişim</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ltn__call-to-4-img-1">
            <img src="{% static 'olive4.jpeg' %}" alt="#">
        </div>
        <div class="ltn__call-to-4-img-2">
            <img src="{% static 'img/bg/11.png' %}" alt="#">
        </div>
    </div>

{% endblock %}


{% block jss %}
{% endblock %}